<h3>{{ _('Access Control') }}</h3>
<!--ALL TRANSLATION TAGS IN JINJA TEMPLATE ARE NULL BECAUSE THEY NO LONGER MATCH Octoprint's set of translated text.-->
{% trans %}
<p>
    <strong>Please read the following important information regarding Access Control.</strong>
</p>
<p>
  When Access Control is enabled, <strong>you cannot control the printer from the web dasboard unless you are logged in.</strong> This prevents unregistered users from accessing and using your printer via the internet. We advise enabling Access Control when your printer is connected to an unsecure or shared network (such as a school or public places).
</p>
<p>
  To configure Access Control, please set up a username and password for the printer administrator account. This is the account you will need to sign in to get full access to the printer controls and settings. You can add more users once you complete the administrator registration. Select 'Enable Access Control' before proceeding.
</p>
<p>
  To skip this step, select 'Disable Access Control' and then 'Next'
</p>
{% endtrans %}
<form class="form-horizontal">
    <div class="control-group" data-bind="css: {success: validUsername()}">
        <label class="control-label" for="first_run_username">{{ _('Username') }}</label>
        <div class="controls">
            <input type="text" class="input-medium" data-bind="value: username, valueUpdate: 'afterkeydown', enable: !setup(), css: {disabled: setup()}">
        </div>
    </div>
    <div class="control-group" data-bind="css: {success: validPassword()}">
        <label class="control-label" for="first_run_username">{{ _('Password') }}</label>
        <div class="controls">
            <input type="password" class="input-medium" data-bind="value: password, valueUpdate: 'afterkeydown', enable: !setup(), css: {disabled: setup()}">
        </div>
    </div>
    <div class="control-group" data-bind="css: {error: passwordMismatch(), success: validPassword() && !passwordMismatch()}">
        <label class="control-label" for="first_run_username">{{ _('Confirm Password') }}</label>
        <div class="controls">
            <input type="password" class="input-medium" data-bind="value: confirmedPassword, valueUpdate: 'afterkeydown', enable: !setup(), css: {disabled: setup()}">
            <span class="help-inline" data-bind="visible: passwordMismatch()">{{ _('Passwords do not match') }}</span>
        </div>
    </div>
</form>
{% trans %}
<p>
    <strong>Note:</strong>You risk losing all your data on printer if you forget your login credentials. Please contact Robo customer support
</p>
{% endtrans %}

<!-- <div class="row-fluid">
    <a href="#" class="btn btn-danger span6" data-bind="click: function() { if(!setup()){disableAccessControl()}}, enable: !setup(), css: {disabled: setup()}">{{ _('Disable Access Control') }}</a>
    <a href="#" class="btn btn-primary span6" data-bind="click: function() { if(!setup()){keepAccessControl()}}, enable: !setup() && validData(), css: {disabled: !validData() || setup()}">{{ _('Keep Access Control Enabled') }}</a>
</div> -->
<div class="row-fluid">
  <input type="radio" class="" name="ac_radio" value="disabled" data-bind="checked: acRadio" id="ac_disabled"><label for="ac_disabled">Disable Access Control</label>
  <input type="radio" class="" name="ac_radio" value="enabled" data-bind="checked: acRadio" id="ac_enabled"><label for="ac_enabled">Enable Access Control</label>
</div>
