<h3>{{ _('Hello!') }}</h3>

{% trans %}
    <p>Welcome to the Robo web dashboard. From here you can access more advanced features and modules for controlling and monitoring your printer.</p>
    <p>If you're a new user, we'd like to welcome you to the Robo family! If you've been here before, we'll take you through some newly added settings.</p>
    <p>This setup wizard will lead you through two steps to complete the security configuration on your Robo printer. We'll get you printing in no time.</p>
    <p>Please read all information on the next screens carefully!</p>
{% endtrans %}
