<h3>{{ _('Hello!') }}</h3>

{% trans %}
    <p>Welcome to the Robo web dashboard. From here you can access more advanced features and modules for controlling and monitoring your printer.</p>
    <p>We'd like to welcome you to the Robo family if you're a new user! We'll tak you through some newly added settings if you've never been here before.</p>
    <p>This setup wizard will lead you through two steps to complete the security configuration on your Robo printer. We'll get you printing in no time.</p>
    <p>Please read all information on the next screens carefully!</p>
{% endtrans %}
