<h3>{{ _('Setup Complete!') }}</h3>

<p>Please remember to keep your passwords stored in a safe location in case you need to refer back to them.</p>
<p>
  Should you ever need assistance with the web dashboard security settings, please contact us at <a href="mailto:help@robo3d.com" subject="Security Setup Wizard Help!">help@robo3d.com</a> or visit <a href="https://help.robo3d.com">help.robo3d.com</a>
</p>
<p>
  Happy printing!
</p>
