<h3>{{ _('Setup Complete!') }}</h3>

<p>{% trans %}
  <strong>TODO make italics dynamic to actual state!</strong>
  You've opted to <i>enable Access Control</i> and <i>disable SSH Control</i>. You can edit these from your dashboard settings.
{% endtrans %}</p>
<p>Please remember to keep your passwords stored in a safe location in case you need to refer back to them.</p>
<p>
  Should you ever need assistance with the web dashboard security settings, please contact us at <a href="mailto:help@robo3d.com" subject="Security Setup Wizard Help!">help@robo3d.com</a> or visit <a href="https://help.robo3d.com">help.robo3d.com</a>
</p>
<p>
  Happy printing!
</p>
